# Database
DATABASE_URL=postgresql://<your_user>:<your_password>@localhost:5432/<your_database>

# JWT
JWT_SECRET_KEY=your_generated_secure_key_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# App
APP_NAME=auth-control-api
APP_ENV=development

# Allowed origins for CORS
ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,https://tudominio.com
